[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "WrensBookshelf"]
	path = WrensBookshelf
	url = https://github.com/buveges/wrensbookshelf
